<ion-view title="Goal Preferences">
	<ion-content>
		<ion-list>
			<div class="item item-divider text-center">Goals</div>
			<ion-item>
				<div class="text-left item-text-wrap">
					<p>You need to give us information about your goal race or event. The most important information is the date and distance, but the best way is to provide us with a Strava route.</p>
					<p>We do not do goal times. They are pointless. TRAINR will ensure that you get to your target event in the best shape possible, and you will run the time that you are capable of.</p>
					<p>Don't let this worry you. We will give you advice and pacing guidelines closer to the time.</p>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>