<ion-view title="Goal Preferences" cache-view="true">
	<ion-content>
		<ion-list>
			<ion-item>
				<div class="text-left item-text-wrap">
					<p>Tell us about your goal race or event. The most important information is the date and distance, but the best way is
						to provide us with a Strava route.</p>
					<p>We do not do goal times. They are pointless. TRAINR will ensure that you get to your target event in the best shape
						possible, and you will run the time that you are capable of.</p>
					<p>Don't let this worry you. We will give you advice and pacing guidelines closer to the time.</p>
				</div>
			</ion-item>
			<div class="item item-divider text-center">Goal Date</div>
			<label class="item item-input item-floating-label">
				<span class="input-label">Date</span>
				<input type="date" placeholder="Date" ng-model="goal.date" required>
			</label>
			<div class="item item-divider item-button-right">Goal Details
				<button class="button button-calm" ng-click="selectRoute()">routes</button>
			</div>
			<label class="item item-input item-floating-label">
				<span class="input-label">Distance</span>
				<input type="number" placeholder="Distance" ng-model="goal.distance" required>
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label">Elevation Gain</span>
				<input type="number" placeholder="Elevation Gain" ng-model="goal.elevationGain" required>
			</label>
			<ion-item>
				<button class="button button-block button-calm">
					Gimme my program
				</button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>