<ion-view title="{{title}}" cache-view="false">
  <ion-pane>
    <ion-tabs class="tabs-striped tabs-color-calm">

      <ion-tab title="Program">
        <ion-view>
          <ion-content>
            <div class="list">
              <a class="item item-avatar" href="#">
                <img src="{{user.athlete.profile_medium}}">
                <h2>{{user.athlete.firstname}} {{user.athlete.lastname}}</h2>
                <p>{{user.athlete.city}}, {{user.athlete.state}}</p>
              </a>
            </div>
          </ion-content>
        </ion-view>
      </ion-tab>

      <ion-tab title="Feed" se>
        <ion-view>
          <ion-content>
            <div class="list">
              <a class="item item-avatar" href="#">
                <img src="{{user.athlete.profile_medium}}">
                <h2>{{user.athlete.firstname}} {{user.athlete.lastname}}</h2>
                <p>{{user.athlete.city}}, {{user.athlete.state}}</p>
              </a>
            </div>
            <div class="card" ng-repeat="activity in activities">
              {{activity}}
            </div>
          </ion-content>
        </ion-view>
      </ion-tab>

      <ion-tab title="Calendar">
        <ion-view>
          <ion-content>
            <div class="list">
              <a class="item item-avatar" href="#">
                <img src="{{user.athlete.profile_medium}}">
                <h2>{{user.athlete.firstname}} {{user.athlete.lastname}}</h2>
                <p>{{user.athlete.city}}, {{user.athlete.state}}</p>
              </a>
            </div>
            <calendar calendar-mode="model.mode" event-source="model.runs"></calendar>
          </ion-content>
        </ion-view>
      </ion-tab>

    </ion-tabs>
  </ion-pane>
</ion-view>