<ion-view title="New Program">
	<ion-content>
		<ion-list>
			<ion-item>
				<div class="text-center item-text-wrap">
					<h2>Hi {{user.firstname}}</h2>
					<h3>Welcome to TRAINR. Your Strava virtual coach.</h3>
				</div>
			</ion-item>
			<ion-item>
				<div class="text-left item-text-wrap">
					<p>We've had a look at your Strava activities from {{athleteSummary.startDate | date:'dd MMM yyyy'}} until {{athleteSummary.toDate
						| date:'dd MMMM yyyy'}} and have estimated your current fitness and form.</p>
					<p>We have also tried to determine when you like to workout, when you like to do your long runs and how many times per
						week you run. If you feel we have gotten any of it wrong, go ahead and correct it.</p>
					<p>This information, once we know what race or event you are aiming for, will be used to create your training program.</p>
				</div>
			</ion-item>
			<ion-item>
				<button class="button button-block button-calm" ui-sref="app.runningPreferences({athleteSummary:athleteSummary})">
					Let's do this
				</button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>