<ion-view title="Performance Preferences" cache-view="true">
	<ion-content>
		<ion-list>
			<!--<div class="item item-divider text-center">Performance</div>-->
			<ion-item>
				<div class="text-left item-text-wrap">
					<p>Based on your Strava activities, this was the best performance we could find. Using this, we have calculated a training
						score and a set of training paces for you.</p>
				</div>
			</ion-item>
			<a class="item" href="#">
				<!--<img src="{{user.image}}">-->
				<h2>{{activity.title}}</h2>
				<p><small>{{activity.humanizedAgo}} ago</small></p>
			</a>
			<div class="item">
				<ng-map data-tap-disabled="true " class="run-map-feed " zoom="{{activity.map.zoom}} " center="[{{activity.map.center.latitude}}, {{activity.map.center.longitude}}]
                " scrollwheel="false " disable-default-u-i="true " draggable="false" disable-double-click-zoom="true">
					<shape name="polyline " id="foo " path="{{activity.map.polyline}} " stroke-color="#FF0000
                " stroke-opacity="1.0 " stroke-weight="2 "></shape>
				</ng-map>
			</div>
			<ion-item>
				<div class="row">
					<div class="col text-center">
						<h2>{{activity.formattedMovingTime}}</h2>
						<p><small>MOVING TIME</small></p>
					</div>
					<div class="col text-center">
						<h2>{{activity.formattedDistance}}</h2>
						<p><small>DISTANCE</small></p>
					</div>
				</div>
				<div class="row">
					<div class="col text-center">
						<h2>{{activity.formattedAveragePace}}</h2>
						<p><small>AVERAGE PACE</small></p>
					</div>
					<div class="col text-center">
						<h2>{{activity.activity.total_elevation_gain}}</h2>
						<p><small>ELEVATION GAIN</small></p>
					</div>
					<div class="col text-center">
						<h2>{{activity.activity.calories||'0'}}</h2>
						<p><small>CALORIES</small></p>
					</div>
				</div>
			</ion-item>
			<ion-item>
				<div class="text-left item-text-wrap">
					<p>A key philosophy of our coaching is using performance to guide training. You don't get to run faster until you can race
						faster. If you feel we have miscalculated your ability, don't worry, you'll have the opportunity to rectify that in
						the first week.</p>
				</div>
			</ion-item>
			<div class="item item-divider text-center">Score</div>
			<ion-item class="row">
				<div class="col">
					<h1 class="score">{{athleteSummary.bestScore.score}}</h1>
				</div>
				<div class="col">
					<div class="pull-right" round-progress max="100" current="athleteSummary.bestScore.score" color="#fc4c02" bgcolor="#eaeaea"
					radius="25" stroke="3" rounded="true" clockwise="true" responsive="false" duration="800" animation="easeInOutQuart"></div>
				</div>
			</ion-item>
			<div class="item item-divider text-center">Pace Zones (per {{paceUnit}})</div>
			<div class="item row">
				<div class="col col-50">Recovery</div>
				<div class="col col-25">&gt; {{format(athleteSummary.recoveryPace.to)}}</div>
			</div>
			<div class="item row">
				<div class="col col-50">Endurance</div>
				<div class="col col-25">{{format(athleteSummary.endurancePace.from)}} - {{format(athleteSummary.endurancePace.to)}}</div>
			</div>
			<div class="item row">
				<div class="col col-50">Tempo</div>
				<div class="col col-25">{{format(athleteSummary.tempoPace.from)}} to {{format(athleteSummary.tempoPace.to)}}</div>
			</div>
			<div class="item row">
				<div class="col col-50">Threshold</div>
				<div class="col col-25">{{format(athleteSummary.thresholdPace.from)}} to {{format(athleteSummary.thresholdPace.to)}}</div>
			</div>
			<div class="item row">
				<div class="col col-50">VO2 Max</div>
				<div class="col col-25">{{format(athleteSummary.vo2maxPace.from)}} to {{format(athleteSummary.vo2maxPace.to)}}</div>
			</div>
			<div class="item row">
				<div class="col col-50">Anaerobic</div>
				<div class="col col-25">&lt; {{format(athleteSummary.anaerobicPace.from)}}</div>
			</div>
		</ion-list>
	</ion-content>
	<ion-footer-bar align-title="left">
		<button class="button icon-right ion-chevron-right button-calm pull-right" ui-sref="app.goalPreferences({athleteSummary:athleteSummary, stravaAthlete:stravaAthlete})">Goals</button>
	</ion-footer-bar>
</ion-view>