/* Empty. Add your own CSS if you like */

/* override ionic-calendar */
.event-detail-container {
    border-top: 2px #fc4c02 solid;
    margin-top: 355px;
}

.calendar-event-inner {
    overflow: hidden;
    background-color: #fc4c02;
    color: white;
    height: 100%;
    width: 100%;
    padding: 2px;
    line-height: 15px;
}

.monthview-primary-with-event {
    background-color: #fc4c02;
    color: white;
}

/* for google maps */
.run-map-feed {
    display:block; 
    height:150px;
    width:100%;
    margin-top:-15px;
}

.run-map-activity {
    display:block; 
    height:200px;
    width:100%;
    margin-top:-40px;
}

.map-button {
    margin-top: -17%;
    margin-left: 85%;
    z-index:10;
}

/* other */
.header-label {
    padding-left:10px;
    margin-top:-10px;
}

.header-chart {
    margin-top:-10px;
}

.feed-subheader {
    height: 65px;
}

.below-feed-subheader {
    margin-top:17px;
}